.section-clients {
  @extend .section;
}

.section-clients__container {
  @extend .container;
}

.section-clients__title {
  @include heading;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-clients__list {
  @include list;
  justify-content: center;
}

.section-clients__element {
  @include flexbox;
  width: 170px;
  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $icon-select-color;
    fill: $icon-select-color;
    @include transition;

    outline: none;
  }

  &:hover .section-clients__icon,
  &:focus .section-clients__icon {
    fill: $icon-select-color;
    @include transition;
    outline: none;
  }
}

.section-clients__icon {
  @include flexbox;
  display: inline-flex;
  width: 106px;
  height: 60.04px;
  fill: $icon-color;
  background-color: inherit;
}
