.contact__element {
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: $text-mdllight-color;
  text-decoration: none;
  display: flex;
  margin-bottom: 9px;
  margin-top: 9px;

  &:active,
  &:focus,
  &:hover {
    color: $link-color;
    @include transition;

    outline: none;
  }
}

.contact__element--color {
  color: $text-light-color;
}
