.footer {
  background: $background-dark-color;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.footer__container {
  @extend .container;
}

.footer__list {
  @include list;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 0;
}

.footer__element:not(:first-child) {
  margin-left: 70px;
}

.footer__title {
  @include heading;
  color: $text-light-color;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__icon {
  @include social-media-icon;
  background-color: $social-links-dark;
  border-radius: 50%;
  fill: $background-main-color;
}

.footer__form {
  width: fit-content;
  height: 86px;
  margin-right: 0;
  padding: 0;
}

.footer__form-email {
  width: 358px;
  height: 50px;
  margin: 0;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid $border-email;
  filter: drop-shadow($button-shadow);
  border-radius: 4px;
  background-color: inherit;
  color: $text-light-color;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid $icon-select-color;
    background-color: inherit;
    color: $text-light-color;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
  }

  &::placeholder {
    font-family: inherit;
    font-style: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: $text-placeholder-color;
  }
}
