.main {
  background: inherit;
  margin-left: inherit;
  margin-right: inherit;
  margin-bottom: 0px;
}

.main__wrapper {
  display: flex;

  background: var(--background-dark);
  background-image: linear-gradient(var(--background-gradient-first), var(--background-gradient-first)), url(../images/backgroundimg.jpg);

  background-size: 1600px 100%;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 0px;
  padding-bottom: 0px;

  & > .main__title {
    flex-grow: 1;
  }
}

.main__title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-light);
  display: flex;
  margin: 200px 252px 30px 252px;
}
