:root {
  --background-main: #ffffff;
  --color-main: #212121;
  --font-family: "Roboto", "Raleway", "sans-serif";
  --background-light: #ffffff;
  --background-mdlcolor: #f5f4fa;
  --background-dark: #2f303a;
  --background-gradient-first: #2f303a66;
  --link-color: #2196f3;
  --text-light: #ffffff;
  --text-dark: #757575;
  --text-verydark: #000000;
  --border-color: #eeeeee;
  --text-mdllight: #ffffff99;
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --icon-select-color: #2196f3;
  --social-links-dark: rgba(255, 255, 255, 0.1);
  --social-links-light: rgba(255, 255, 255, 1);
  --backdrop-color: #00000033;
  --label-color: #2f303acc;
  --overlay-color: #2196f3e5;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --input-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --text-comment-color: rgba(117, 117, 117, 0.5);
}
